<ion-view title="Assign List" id="page6" class=" ">
    <ion-content padding="true" class="has-header" >

      <div class="list">

        <label class="item item-input item-select">
          <div class="input-label">
            John <br>
            test@google.com <br>

          </div>
          <select>
            <option>Enable</option>
            <option selected>Disable</option>
            <option>Delete</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            John1 <br>
            test1@hotmail.com
          </div>
          <select>
            <option>Enable</option>
            <option selected>Disable</option>
            <option>Delete</option>
          </select>
        </label>
      </div>

     <button id="photoList-button7" class=" button button-positive  button-block " ng-click="addAssign()">Add Assign</button>
		<button id="photoList-button7" class=" button button-positive  button-block " ng-click="goBack()">Cancel</button>
    </ion-content>
</ion-view>
