<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="row">
      <div class="col text-center">No asignado</div>
    </div>
    <div class="row row-center">
      <div class="col col-50"><a href="#/app/textto" class="button button-block ion-document-text button-positive" > Texto</a></div>
      <div class="col col-50"><a href="#/app/photo" class="button button-block ion-document-text button-positive" > Imagenes</a></div>
    </div>
    <div class="row row-center">
      <div class="col col-50"><a href="#/app/video" class="button button-block ion-videocamera button-stable"> Videos  </a></div>
      <div class="col col-50"><a href="#/app/audio" class="button button-block ion-volume-high button-stable"> Audio  </a></div>
    </div>
    <div class="row row-center">
      <div class="col col-50"><a href="#/app/geo" class="button button-block ion-pin button-stable"> Localizar</a></div>
      <div class="col col-50"><a href="#/app/assign" class="button button-block ion-person button-stable"> Asignar</a></div>
    </div>
    <div class="row row-center">
      <div class="col col-50"><a href="#/app/calendar" class="button button-block ion-close-circled button-positive"> Cancelar</a></div>
      <div class="col col-50"><a href="#/app/renew" class="button button-block ion-calendar button-positive"> Renovar</a></div>
    </div>
  </ion-content>
</ion-view>
