<ion-view title="Geo Photo Details" id="page7" class=" ">
    <ion-content padding="true" class="has-header">

        <div>
          <img ng-src="{{imgFullPath}}" width="100%" title="{{mediaDetails.description}}" />
        </div>
      <br>
      <div id="map" data-tap-disabled="true"></div>

        <div class="spacer" style="width: 283px; height: 27px;"></div>
        <p id="photoDetails-markdown2" style="color:#000000;" class=" ">


      <div class="list">

        <label class="item item-input">
         <textarea placeholder="Enter photo description" rows="8" cols="10" id="textTo" ng-model="mediaDetails.description" style="width:100%"  >
 </textarea>
        </label>
      </div>

        </p>
      <button id="photoDetails-button6" class=" button button-positive  button-block " ng-click="enterGeoInfo(mediaDetails);">Geo Info</button>
        <button id="photoDetails-button6" class=" button button-positive  button-block " ng-click="savePhotoDetails(mediaDetails);">Save</button>

        <button id="photoDetails-button6" class=" button button-positive  button-block " ng-click="deletePhoto(mediaDetails);">Delete</button>
        <button id="photoDetails-button6" class=" button button-positive  button-block " ng-click="goBack();">Cancel</button>
    </ion-content>
</ion-view>
