<ion-view title="Signup" id="page5" class=" " hide-nav-bar="true">
    <ion-content padding="true" class="has-header">
        <form id="signup-form3" class="list " name="form"  >
            <ion-list id="signup-list3" class=" ">
                <label class="item item-input " id="signup-input4">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Name" ng-model="userRegisterInfo.name">
                </label>
                <label class="item item-input " id="signup-input5">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email" ng-model="userRegisterInfo.email">
                </label>
                <label class="item item-input " id="signup-input6">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" ng-model="userRegisterInfo.password"  >
                </label>
              <label class="item item-input " id="signup-input6">
                <span class="input-label">Confirm Password</span>
                <input type="password" placeholder="Confirm Password" ng-model="userRegisterInfo.confirmpassword"  >
              </label>
            </ion-list>
            <button id="signup-button5" class=" button button-stable  button-block " ng-click="signUpUser(userRegisterInfo)">Signup</button>
          <button id="photoList-button7" class=" button button-positive  button-block " ng-click="goBack()">Cancel</button>
        </form>
    </ion-content>
</ion-view>
