<ion-view title="Texto" id="page6" class=" ">
    <ion-content padding="true" class="has-header" ng-init="loadImages()">
        <textarea placeholder="Enter your Texto" rows="8" cols="10" id="textTo" ng-model="textToDetail.textto" style="width:100%">
          {{textToDetail.textTo}}
        </textarea>
     <button id="cmdSaveTextTo" class=" button button-positive  button-block " ng-click="saveTextTo()">Save</button>
		<button id="photoList-button7" class=" button button-positive  button-block " ng-click="goBack()">Cancel</button>
    </ion-content>
</ion-view>
